<% map = @state[:map] %>
<% player = @state[:player] %>
<div id="map-container">
  <div id="map-window" class="panel">
    <table class="map">
      <% @state[:width].times do |y| %>
        <tr>
        <% @state[:height].times do |x| %>
          <% tile, coords, info = map.next %>
          <td 
            class="map <%= tile[:style] %> <%= tile[:bgstyle] %>"
            data-pos="<%= coords.join(',') %>"
            data-player="<%= coords == player.position %>">
              <div class="tile-container tooltip">
                <div class="tooltip tooltiptext">
                  <%= info.join(', ') %>
                </div>
                <%= tile[:symbol] %>
                <% @state[:enemies].map { |e| e.position }.each_with_index do |enemy_position, i| %>
                  <% if enemy_position == coords && tile[:bgstyle] == 'bgmarker' %>
                    <div class="enemy-index"><%= i + 1 %></div>
                  <% end %>
                <% end %>
              </div>
          </td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div id="map-info-window" class="panel">
    <p><strong>Floor <%= @state[:floor_number] %></strong></p>
  </div>
</div>

<div id="info-container">
  <div id="stats-window" class="panel">
    <table class="stats">
      <tr>
        <td class="label">Health:</td>
        <td>
          <div id="health-container">
            <div id="health-bar" style="width: <%= player.hp * 20 %>px"></div>
            <div id="health-numbers"><%= "#{player.hp}/#{player.max_hp}" %></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="label">Energy:</td><td class="value"><%= player.energy %> (+<%= player.energy_per_turn %>/turn)</td>
      </tr>
      <tr>
        <td class="label">Block:</td><td class="value"><%= player.block %> (+<%= player.block_per_turn %>/turn)</td>
      </tr>
    </table>
  </div>

  <div id="skill-window" class="panel">
    <% player.skills.each_with_index do |skill, i| %>
      <p>
        <span class="key"><%= i+1 %></span> <%= skill.name %>
        (<span class="<%= player.energy >= skill.cost ? "energy-cost-yes" : "energy-cost-no" %>"><%= skill.cost %></span>)<br>
        &nbsp; <%= skill.description %>
      </p>
    <% end %>
  </div>

  <div id="log-window" class="panel">
    <p id="log">
    <% @state[:log].each do |entry| %>
      <%= entry %><br>
    <% end %>
    </p>
  </div>
</div>

<script src="/game.js"></script>